<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ntalk - Agenda </title>
</head>
<body>
	<header>
		<h1>Ntalk</h1>
		<h4>Welcome!</h4>
	</header>

	<section>
		<form action="/entrar" method="post">
			<input type="text" name="usuario[nome]" placeholder="name">
			<br>
			<input type="text" name="usuario[email]" placeholder="E-mail">
			<br>
			<button type="summit">Enter</button>
		</form>
	</section>

	<footer>
		<small>Ntalk - Agenda</small>
	</footer>
</body>
</html>